/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue-neutral: 210;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 50%);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2 ,auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    outline: none;
}

.btn:hover {
    border-color: #000000;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: #000000;
}

.btn.wrong {
    --hue: var(--hue-wrong);
} 

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: ;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.hide {
    display: none;
}

#question {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}